// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$all-icon-name: 'all-icon'
$all-icon-x: 102px
$all-icon-y: 141px
$all-icon-offset-x: -102px
$all-icon-offset-y: -141px
$all-icon-width: 26px
$all-icon-height: 22px
$all-icon-total-width: 205px
$all-icon-total-height: 181px
$all-icon-image: 'sprite.png'
$all-icon: (102px, 141px, -102px, -141px, 26px, 22px, 205px, 181px, 'sprite.png', 'all-icon', )
$date-bg-name: 'date-bg'
$date-bg-x: 0px
$date-bg-y: 0px
$date-bg-offset-x: 0px
$date-bg-offset-y: 0px
$date-bg-width: 102px
$date-bg-height: 101px
$date-bg-total-width: 205px
$date-bg-total-height: 181px
$date-bg-image: 'sprite.png'
$date-bg: (0px, 0px, 0px, 0px, 102px, 101px, 205px, 181px, 'sprite.png', 'date-bg', )
$email-icon-name: 'email-icon'
$email-icon-x: 102px
$email-icon-y: 80px
$email-icon-offset-x: -102px
$email-icon-offset-y: -80px
$email-icon-width: 24px
$email-icon-height: 21px
$email-icon-total-width: 205px
$email-icon-total-height: 181px
$email-icon-image: 'sprite.png'
$email-icon: (102px, 80px, -102px, -80px, 24px, 21px, 205px, 181px, 'sprite.png', 'email-icon', )
$enter-icon-name: 'enter-icon'
$enter-icon-x: 126px
$enter-icon-y: 80px
$enter-icon-offset-x: -126px
$enter-icon-offset-y: -80px
$enter-icon-width: 15px
$enter-icon-height: 15px
$enter-icon-total-width: 205px
$enter-icon-total-height: 181px
$enter-icon-image: 'sprite.png'
$enter-icon: (126px, 80px, -126px, -80px, 15px, 15px, 205px, 181px, 'sprite.png', 'enter-icon', )
$fb-icon-name: 'fb-icon'
$fb-icon-x: 0px
$fb-icon-y: 101px
$fb-icon-offset-x: 0px
$fb-icon-offset-y: -101px
$fb-icon-width: 40px
$fb-icon-height: 40px
$fb-icon-total-width: 205px
$fb-icon-total-height: 181px
$fb-icon-image: 'sprite.png'
$fb-icon: (0px, 101px, 0px, -101px, 40px, 40px, 205px, 181px, 'sprite.png', 'fb-icon', )
$gp-icon-name: 'gp-icon'
$gp-icon-x: 40px
$gp-icon-y: 101px
$gp-icon-offset-x: -40px
$gp-icon-offset-y: -101px
$gp-icon-width: 40px
$gp-icon-height: 40px
$gp-icon-total-width: 205px
$gp-icon-total-height: 181px
$gp-icon-image: 'sprite.png'
$gp-icon: (40px, 101px, -40px, -101px, 40px, 40px, 205px, 181px, 'sprite.png', 'gp-icon', )
$h2-bg-name: 'h2-bg'
$h2-bg-x: 53px
$h2-bg-y: 169px
$h2-bg-offset-x: -53px
$h2-bg-offset-y: -169px
$h2-bg-width: 68px
$h2-bg-height: 4px
$h2-bg-total-width: 205px
$h2-bg-total-height: 181px
$h2-bg-image: 'sprite.png'
$h2-bg: (53px, 169px, -53px, -169px, 68px, 4px, 205px, 181px, 'sprite.png', 'h2-bg', )
$in-icon-name: 'in-icon'
$in-icon-x: 142px
$in-icon-y: 0px
$in-icon-offset-x: -142px
$in-icon-offset-y: 0px
$in-icon-width: 40px
$in-icon-height: 40px
$in-icon-total-width: 205px
$in-icon-total-height: 181px
$in-icon-image: 'sprite.png'
$in-icon: (142px, 0px, -142px, 0px, 40px, 40px, 205px, 181px, 'sprite.png', 'in-icon', )
$li-icon-name: 'li-icon'
$li-icon-x: 177px
$li-icon-y: 48px
$li-icon-offset-x: -177px
$li-icon-offset-y: -48px
$li-icon-width: 5px
$li-icon-height: 8px
$li-icon-total-width: 205px
$li-icon-total-height: 181px
$li-icon-image: 'sprite.png'
$li-icon: (177px, 48px, -177px, -48px, 5px, 8px, 205px, 181px, 'sprite.png', 'li-icon', )
$lice-fot-name: 'lice-fot'
$lice-fot-x: 142px
$lice-fot-y: 75px
$lice-fot-offset-x: -142px
$lice-fot-offset-y: -75px
$lice-fot-width: 30px
$lice-fot-height: 38px
$lice-fot-total-width: 205px
$lice-fot-total-height: 181px
$lice-fot-image: 'sprite.png'
$lice-fot: (142px, 75px, -142px, -75px, 30px, 38px, 205px, 181px, 'sprite.png', 'lice-fot', )
$local-fot-name: 'local-fot'
$local-fot-x: 0px
$local-fot-y: 141px
$local-fot-offset-x: 0px
$local-fot-offset-y: -141px
$local-fot-width: 26px
$local-fot-height: 40px
$local-fot-total-width: 205px
$local-fot-total-height: 181px
$local-fot-image: 'sprite.png'
$local-fot: (0px, 141px, 0px, -141px, 26px, 40px, 205px, 181px, 'sprite.png', 'local-fot', )
$local-icon-name: 'local-icon'
$local-icon-x: 53px
$local-icon-y: 141px
$local-icon-offset-x: -53px
$local-icon-offset-y: -141px
$local-icon-width: 24px
$local-icon-height: 28px
$local-icon-total-width: 205px
$local-icon-total-height: 181px
$local-icon-image: 'sprite.png'
$local-icon: (53px, 141px, -53px, -141px, 24px, 28px, 205px, 181px, 'sprite.png', 'local-icon', )
$mobil-menu-icon-name: 'mobil-menu-icon'
$mobil-menu-icon-x: 142px
$mobil-menu-icon-y: 113px
$mobil-menu-icon-offset-x: -142px
$mobil-menu-icon-offset-y: -113px
$mobil-menu-icon-width: 34px
$mobil-menu-icon-height: 28px
$mobil-menu-icon-total-width: 205px
$mobil-menu-icon-total-height: 181px
$mobil-menu-icon-image: 'sprite.png'
$mobil-menu-icon: (142px, 113px, -142px, -113px, 34px, 28px, 205px, 181px, 'sprite.png', 'mobil-menu-icon', )
$online-icon-name: 'online-icon'
$online-icon-x: 182px
$online-icon-y: 140px
$online-icon-offset-x: -182px
$online-icon-offset-y: -140px
$online-icon-width: 20px
$online-icon-height: 23px
$online-icon-total-width: 205px
$online-icon-total-height: 181px
$online-icon-image: 'sprite.png'
$online-icon: (182px, 140px, -182px, -140px, 20px, 23px, 205px, 181px, 'sprite.png', 'online-icon', )
$p-icon-name: 'p-icon'
$p-icon-x: 80px
$p-icon-y: 101px
$p-icon-offset-x: -80px
$p-icon-offset-y: -101px
$p-icon-width: 40px
$p-icon-height: 40px
$p-icon-total-width: 205px
$p-icon-total-height: 181px
$p-icon-image: 'sprite.png'
$p-icon: (80px, 101px, -80px, -101px, 40px, 40px, 205px, 181px, 'sprite.png', 'p-icon', )
$phone-fot-name: 'phone-fot'
$phone-fot-x: 142px
$phone-fot-y: 40px
$phone-fot-offset-x: -142px
$phone-fot-offset-y: -40px
$phone-fot-width: 35px
$phone-fot-height: 35px
$phone-fot-total-width: 205px
$phone-fot-total-height: 181px
$phone-fot-image: 'sprite.png'
$phone-fot: (142px, 40px, -142px, -40px, 35px, 35px, 205px, 181px, 'sprite.png', 'phone-fot', )
$phone-header-icon-name: 'phone-header-icon'
$phone-header-icon-x: 26px
$phone-header-icon-y: 141px
$phone-header-icon-offset-x: -26px
$phone-header-icon-offset-y: -141px
$phone-header-icon-width: 27px
$phone-header-icon-height: 38px
$phone-header-icon-total-width: 205px
$phone-header-icon-total-height: 181px
$phone-header-icon-image: 'sprite.png'
$phone-header-icon: (26px, 141px, -26px, -141px, 27px, 38px, 205px, 181px, 'sprite.png', 'phone-header-icon', )
$phone-icon-name: 'phone-icon'
$phone-icon-x: 77px
$phone-icon-y: 141px
$phone-icon-offset-x: -77px
$phone-icon-offset-y: -141px
$phone-icon-width: 25px
$phone-icon-height: 25px
$phone-icon-total-width: 205px
$phone-icon-total-height: 181px
$phone-icon-image: 'sprite.png'
$phone-icon: (77px, 141px, -77px, -141px, 25px, 25px, 205px, 181px, 'sprite.png', 'phone-icon', )
$phone-mobile-icon-name: 'phone-mobile-icon'
$phone-mobile-icon-x: 182px
$phone-mobile-icon-y: 88px
$phone-mobile-icon-offset-x: -182px
$phone-mobile-icon-offset-y: -88px
$phone-mobile-icon-width: 20px
$phone-mobile-icon-height: 29px
$phone-mobile-icon-total-width: 205px
$phone-mobile-icon-total-height: 181px
$phone-mobile-icon-image: 'sprite.png'
$phone-mobile-icon: (182px, 88px, -182px, -88px, 20px, 29px, 205px, 181px, 'sprite.png', 'phone-mobile-icon', )
$reg-icon-name: 'reg-icon'
$reg-icon-x: 182px
$reg-icon-y: 163px
$reg-icon-offset-x: -182px
$reg-icon-offset-y: -163px
$reg-icon-width: 15px
$reg-icon-height: 15px
$reg-icon-total-width: 205px
$reg-icon-total-height: 181px
$reg-icon-image: 'sprite.png'
$reg-icon: (182px, 163px, -182px, -163px, 15px, 15px, 205px, 181px, 'sprite.png', 'reg-icon', )
$search-icon-name: 'search-icon'
$search-icon-x: 120px
$search-icon-y: 101px
$search-icon-offset-x: -120px
$search-icon-offset-y: -101px
$search-icon-width: 12px
$search-icon-height: 12px
$search-icon-total-width: 205px
$search-icon-total-height: 181px
$search-icon-image: 'sprite.png'
$search-icon: (120px, 101px, -120px, -101px, 12px, 12px, 205px, 181px, 'sprite.png', 'search-icon', )
$select-arrow-name: 'select-arrow'
$select-arrow-x: 120px
$select-arrow-y: 113px
$select-arrow-offset-x: -120px
$select-arrow-offset-y: -113px
$select-arrow-width: 13px
$select-arrow-height: 7px
$select-arrow-total-width: 205px
$select-arrow-total-height: 181px
$select-arrow-image: 'sprite.png'
$select-arrow: (120px, 113px, -120px, -113px, 13px, 7px, 205px, 181px, 'sprite.png', 'select-arrow', )
$serv-li-hover-name: 'serv-li-hover'
$serv-li-hover-x: 177px
$serv-li-hover-y: 40px
$serv-li-hover-offset-x: -177px
$serv-li-hover-offset-y: -40px
$serv-li-hover-width: 5px
$serv-li-hover-height: 8px
$serv-li-hover-total-width: 205px
$serv-li-hover-total-height: 181px
$serv-li-hover-image: 'sprite.png'
$serv-li-hover: (177px, 40px, -177px, -40px, 5px, 8px, 205px, 181px, 'sprite.png', 'serv-li-hover', )
$serv-li-name: 'serv-li'
$serv-li-x: 197px
$serv-li-y: 163px
$serv-li-offset-x: -197px
$serv-li-offset-y: -163px
$serv-li-width: 5px
$serv-li-height: 8px
$serv-li-total-width: 205px
$serv-li-total-height: 181px
$serv-li-image: 'sprite.png'
$serv-li: (197px, 163px, -197px, -163px, 5px, 8px, 205px, 181px, 'sprite.png', 'serv-li', )
$skype-icon-name: 'skype-icon'
$skype-icon-x: 182px
$skype-icon-y: 117px
$skype-icon-offset-x: -182px
$skype-icon-offset-y: -117px
$skype-icon-width: 23px
$skype-icon-height: 23px
$skype-icon-total-width: 205px
$skype-icon-total-height: 181px
$skype-icon-image: 'sprite.png'
$skype-icon: (182px, 117px, -182px, -117px, 23px, 23px, 205px, 181px, 'sprite.png', 'skype-icon', )
$sl-m-next-name: 'sl-m-next'
$sl-m-next-x: 182px
$sl-m-next-y: 0px
$sl-m-next-offset-x: -182px
$sl-m-next-offset-y: 0px
$sl-m-next-width: 23px
$sl-m-next-height: 44px
$sl-m-next-total-width: 205px
$sl-m-next-total-height: 181px
$sl-m-next-image: 'sprite.png'
$sl-m-next: (182px, 0px, -182px, 0px, 23px, 44px, 205px, 181px, 'sprite.png', 'sl-m-next', )
$sl-m-prev-name: 'sl-m-prev'
$sl-m-prev-x: 182px
$sl-m-prev-y: 44px
$sl-m-prev-offset-x: -182px
$sl-m-prev-offset-y: -44px
$sl-m-prev-width: 23px
$sl-m-prev-height: 44px
$sl-m-prev-total-width: 205px
$sl-m-prev-total-height: 181px
$sl-m-prev-image: 'sprite.png'
$sl-m-prev: (182px, 44px, -182px, -44px, 23px, 44px, 205px, 181px, 'sprite.png', 'sl-m-prev', )
$tabs-li-icon-name: 'tabs-li-icon'
$tabs-li-icon-x: 120px
$tabs-li-icon-y: 120px
$tabs-li-icon-offset-x: -120px
$tabs-li-icon-offset-y: -120px
$tabs-li-icon-width: 11px
$tabs-li-icon-height: 7px
$tabs-li-icon-total-width: 205px
$tabs-li-icon-total-height: 181px
$tabs-li-icon-image: 'sprite.png'
$tabs-li-icon: (120px, 120px, -120px, -120px, 11px, 7px, 205px, 181px, 'sprite.png', 'tabs-li-icon', )
$tw-icon-name: 'tw-icon'
$tw-icon-x: 102px
$tw-icon-y: 40px
$tw-icon-offset-x: -102px
$tw-icon-offset-y: -40px
$tw-icon-width: 40px
$tw-icon-height: 40px
$tw-icon-total-width: 205px
$tw-icon-total-height: 181px
$tw-icon-image: 'sprite.png'
$tw-icon: (102px, 40px, -102px, -40px, 40px, 40px, 205px, 181px, 'sprite.png', 'tw-icon', )
$vk-icon-name: 'vk-icon'
$vk-icon-x: 102px
$vk-icon-y: 0px
$vk-icon-offset-x: -102px
$vk-icon-offset-y: 0px
$vk-icon-width: 40px
$vk-icon-height: 40px
$vk-icon-total-width: 205px
$vk-icon-total-height: 181px
$vk-icon-image: 'sprite.png'
$vk-icon: (102px, 0px, -102px, 0px, 40px, 40px, 205px, 181px, 'sprite.png', 'vk-icon', )
$spritesheet-width: 205px
$spritesheet-height: 181px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($all-icon, $date-bg, $email-icon, $enter-icon, $fb-icon, $gp-icon, $h2-bg, $in-icon, $li-icon, $lice-fot, $local-fot, $local-icon, $mobil-menu-icon, $online-icon, $p-icon, $phone-fot, $phone-header-icon, $phone-icon, $phone-mobile-icon, $reg-icon, $search-icon, $select-arrow, $serv-li-hover, $serv-li, $skype-icon, $sl-m-next, $sl-m-prev, $tabs-li-icon, $tw-icon, $vk-icon, )
$spritesheet: (205px, 181px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(../images/#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
