.tabs-list
  background-color: rgb(255, 255, 255)
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.13)
  margin-bottom: 58px
  &__nav-tab
    display: table
    width: 100%
    background: #3d99d1
    &:after
      content: ''
      display: table
      clear: both
    li
      display: table-cell
      list-style: none
      height: 55px
      width: 20%
      text-align: center
      vertical-align: middle
      a
        font-size: 14px
        color: #ffffff
        text-decoration: none
        +FFRB
        text-transform: uppercase
      &.active
        background: #ffffff
        a
          color: #3d99d1
  &__tab
    padding: 43px 50px 26px
    color: #3286ba
    font-size: 14px
    line-height: 15px
    .w50p
      width: 50%
      display: block
      float: left
      padding-left: 4px
      li
        list-style: none
        padding-left: 15px
        position: relative
        margin-bottom: 30px
        &:before
          content: ''
          position: absolute
          left: 0
          top: 7px
          @include sprite($li-icon)
      &:nth-child(2)
        padding-left: 50px
    &:after
      content: ''
      display: table
      clear: both
  &__tabs
