.info-spec
  margin-bottom: 36px
  &:after
    content: ''
    display: block
    clear: both
  h2
    line-height: 49px
    &:after
      margin-top: 2px
      margin-bottom: 37px
  &__foto
    max-width: 242px
    float: left
  &__text
    margin-left: 275px
    font-size: 14px
    line-height: 24px
    color: #3d3d3d
    +FFRR

.priem
  &__title
    font-size: 24px
    color: #0b0b0b
    +FFRl
    text-align: center
    background: url(../images/h3-bg.jpg) repeat-x center
    margin-bottom: 36px
    span
      display: inline-block
      background: #ffffff
      padding-left: 32px
      padding-right: 32px
  &__item
    margin-bottom: 55px
    &:after
      content: ''
      display: table
      clear: both
    &-number
      float: left
      font-size: 60px
      line-height: 48px
      vertical-align: top
      +FFRT
      color: #b3b3b3
    &-text
      margin-left: 83px
      font-size: 14px
      +FFRR
      line-height: 18px
    &-title
      font-size: 14px
      +FFRB
      color: #47a4de
      text-transform: uppercase
      margin-bottom: 10px