.doc-info
  margin-top: 15px
  padding-bottom: 36px
  @media (max-width: 640px)
    margin-top: -3px
    .hide-mobile
      display: none
  &:after
    content: ''
    display: table
    clear: both
  &__left
    float: left
    width: 314px
    @media (max-width: 640px)
      float: none
      width: auto
  &__right
    margin-left: 337px
    @media (max-width: 640px)
      margin-left: 22px
  &__foto
    margin-bottom: 13px
    img
      border: #e5e8ec solid 1px
      @media (max-width: 640px)
        display: block
        margin-left: auto
        margin-right: auto
    @media (max-width: 640px)
      margin-bottom: 30px
  .form
    background: #f0f4f9
    padding: 16px 16px 10px 16px
    margin-bottom: 25px
    h2:after
      margin-bottom: 20px
    &__control
      padding-bottom: 12px
    &__submit
      margin-top: 2px
    &__imp
      padding-left: 14px
    @media (max-width: 640px)
      margin-top: 11px
      margin-left: -15px
      margin-right: -15px
  &__title
    +FFRSR
    color: #4b4e4b
    line-height: 24px
    letter-spacing: -2.7px
    margin-bottom: 27px
    @media (max-width: 640px)
      font-size: 22px
      line-height: 22.81px
      letter-spacing: -0.1px
      margin-bottom: 21px
  &__info
    font-size: 14px
    color: #3d3d3d
    line-height: 18px
    padding-bottom: 19px
    &-title
      padding-top: 15px
      padding-bottom: 15px
      text-transform: uppercase
      +FFRB
      color: #47a4de
      font-size: 14px
      @media (max-width: 640px)
        padding-top: 2px
  &__all-spec
    margin-left: 55px
    font-size: 14px
    color: #2fb97a
    display: block
    height: 22px
    line-height: 22px
    text-transform: uppercase
    +FFRB
    text-decoration: none
    span
      border-bottom: #2fb97a dotted 1px
      letter-spacing: 0.9px
    &:before
      content: ''
      @include sprite($all-icon)
      display: inline-block
      float: left
      margin-right: 14px
  .show-mobile
    display: none
    @media (max-width: 640px)
      display: block